/*ESTILOS GENERALES*/
body{
	padding: 0;
	margin: 0;
}
.font-big{
	font-size: 25px;
}
.font-midle{
	font-size: 20px;
}
.font-small{
	font-size: 17px;
}
.font-bold{
	font-weight: bold;
}
.font-center{
	text-align: center;
}

.color-gray{
	color: #292929;
}
.color-gray1{
	color: #5f5f5f;
}
.color-gray2{
	color: #444444;
}
.color-light-orange{
	color: #f6ba3e;
}
.color-light-gray{
	color: #adadb5;
}
.color-turqueza{
	color: #4ba6ad;
}
.color-fucsia{
	color: #d3417e;
}
.bg-gray{
	background: #292929;
}
.bg-gray1{
	background: #f6f6f8;
}
.bg-gray2{
	background: #e9eaef;
}
.bg-gradient-bottom{
	background-image: -webkit-linear-gradient(bottom, black, transparent);
    background-image: -moz-linear-gradient(bottom, black, transparent);
    background-image: -ms-linear-gradient(bottom, black, transparent);
}
.bg-gradient-top{
	background-image: -webkit-linear-gradient(top, black, transparent);
    background-image: -moz-linear-gradient(top, black, transparent);
    background-image: -ms-linear-gradient(top, black, transparent);
}
.padding{
	padding: 25px 50px;
}
.prueba {
    height: 200px;
}

.prueba1 {
    height: auto;
    background: yellow;
}

.prueba3 {
    height: 180px;
    background: blue;
}
/*Styles for mobiles*/
body{
	background: pink;
}
.portada{
	background: pink;
	height: 300px;
	width: 100%;
}
/*Styles for Tablets*/
@media (min-width: 768px){
	body{
		background: lightblue;
	}
}
/*Styles for computers */
@media (min-width: 992px){
	body{
		background: orange;
	}
}