.profile-container {
    background: #e9eaef
    height:auto;
}

.information-container {
    background: blue;
    height: 600px;
    border: 2px solid white;
    padding: 0;
    margin-top: 300px;
    margin-bottom: 200px;
}