<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ionicons.min.css">

	<!-- style for this template -->
	<link rel="stylesheet" type="text/css" href="./event.css">
	<!-- style for components -->
	
	<title>Event</title>
</head>
<body>
	<h1>Example of sprites</h1>
	
	<!-- con sprites -->
	<figure class="image-sprites">
	</figure>

	<figure class="image-sprites" style="background-position: 100px;">
	</figure>

	<figure class="image-sprites" style="background-position: 150px;">
	</figure>

	<figure class="image-sprites" style="background-position: 200px;">
	</figure>

	<br>

	<!-- sin sprites
	<figure class="image" style="background-image: url('../../assets/images/inicio.png');">
	</figure>

	<figure class="image" style="background-image: url('../../assets/images/empleos.png');">
	</figure>

	<figure class="image" style="background-image: url('../../assets/images/ofertas.png');">
	</figure>

	<figure class="image" style="background-image: url('../../assets/images/eventos.png');">
	</figure>
	-->
</body>
</html>