body {
  background: #e9eaef;
}

.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.container-event {
  position: relative;
  height: auto;
  margin: 0 auto;
}

.container-item-event {
  height: 600px;
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.item-event {
  width: 100%;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 1px 1px 5px #474747;
}

.item-name {
  display: block;
  font-size: 17px;
  color: white;
  float: right;
  /* margin-left: 300px; */
  margin-top: 80px;
  width: 64%;
}

.item-picture {
  width: 100%;
  height: 110px;
  background: #ccc;
  background-image: url(../../assets/images/event-picture.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.item-gradiente {
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  background-image: -webkit-linear-gradient(bottom, black, transparent);
  background-image: -moz-linear-gradient(bottom, black, transparent);
  background-image: -ms-linear-gradient(bottom, black, transparent);
}

.item-info {
  width: 100%;
  height: 90px;
  background: #fff;
  border-radius: 0px 0px 5px 5px;
}

.item-date {
  width: 85px;
  height: 85px;
  background: #f8f8f8;
  border-radius: 50%;
  position: absolute;
  top: 68px;
  text-align: center;
  box-shadow: 1px 1px 5px #5e575791;
  left: 13px;
}

.item-date-month {
  display: block;
  margin-top: -13px;
  font-size: 21px;
  color: #3c8bf1;
}

.item-date-day {
  display: block;
  font-size: 35px;
  line-height: 1.4;
  color: #3163aa;
  font-weight: bold;
  margin-top: -3px;
}

.item-date-year {
  display: block;
  margin-top: -7px;
  font-size: 17px;
  color: #8bb7fb;
}

.item-description {
  height: 45px;
  width: 65%;
  float: right;
  height: auto;
  /* background: red; */
  padding: 4px 7px;
  text-align: justify;
}

.item-genial {
  clear: both;
}

.font-genial {
  font-size: 45px;
}

.filtro {
  display: none;
}

@media (min-width:420px) {
  .item-name {
    width: 70%;
  }
  .item-description {
    width: 70%;
    float: right;
    padding: 4px 4px;
    padding-right: 20px;
  }
}

@media (min-width:500px) {
  .item-date {
    width: 100px;
    height: 100px;
    top: 57px;
    left: 25px;
  }
  .font-genial {
    font-size: 55px;
  }
}

@media (min-width:560px) {
  .item-event {
    height: 240px;
    width: 560px;
    margin: 0 auto;
  }
  .item-name {
    font-size: 21px;
  }
  .item-date-day {
    font-size: 54px;
  }
  .item-date-month {
    display: block;
    margin-top: -17px;
  }
  .item-date {
    width: 120px;
    height: 120px;
    top: 68px;
  }
  .item-gradiente, .item-picture {
    height: 130px;
  }
  .font-genial {
    font-size: 60px;
  }
  .item-info{
    height: 110px;
  }
}

@media (min-width:960px) {
  .container-event {
    padding: 20px;
    width: 960px;
  }
  .container-item-event {
    width: 600px;
  }
  .filtro {
    display: inline-block;
    width: 300px;
    height: 200px;
    background: white;
    margin-left: 20px;
    border-radius: 7px;
    color: #707175;
    position: fixed;
  }
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
}
