<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ionicons.min.css">

	<!-- style for this template -->
	<link rel="stylesheet" type="text/css" href="./explorer.css">
	<!-- style for components -->

	<title>Explorer</title>
</head>
<body>
	<h1>Explorer is Works</h1>
</body>
</html>